* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 40px;
}

header img {
    display: flex;
    margin: auto;
    width: 15%;
}

form {
    margin: auto;
    width: 75%;
    padding-bottom: 40px;
}

form input {
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;

}

form select {
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}

form button{
    padding: 4px;
    background-color: rgb(0, 252, 0);
    border: none;
    border-radius: 4px;
    transition: transform 0.1s ease-in;
}

form button:hover{
    transform: scale(1.12);
}

ul{
    width: 50%;
    margin: auto;
    text-align: center;
}

ul li{
    list-style: none;
    margin: 20px;
    border: 1px solid black;
    border-radius: 6px;
}

ul li button{
    background-color: rgb(255, 27, 27);
    padding: 4px;
    border: none;
    border-radius: 4px;
    transition: transform 0.1s ease-in;
}

ul li button:hover{
    transform: scale(1.12);
}

footer{
    text-align: center;
}

footer button{
    padding: 5px;
    background-color: green;
    border: none;
    border-radius: 5px;
}